h1,
p {
  font-size: 70px;
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: Roboto, arial, sans-serif;
}

body {
  background: linear-gradient(90deg, #2c262a, #5d0948);
  margin: 0px;
  height: 100vh;
}

#etch-a-sketch-container {
  margin: auto;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2em;
}

.footer {
  font-size: 18px;
}

.row {
  display: flex;
  flex-grow: 1;
}

.square {
  flex-grow: 1;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider:hover {
  opacity: 1;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: space-between;
}

.left {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.right {
  width: 200px;
}

.title {
  margin-top: 0.5em;
  margin-bottom: -0.5em;
}

.footer {
  margin-bottom: 1em;
}

/* CSS */
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  color: #3d3d3d;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
}

.button:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
